@model TodoIndexViewModel

@{
    ViewBag.Title = "Todo";
    Layout = "_Layout";
}
<html>
<body>
<div>
    <h1>Todo</h1>
        <b><a asp-area="" asp-controller="todo" asp-action="add">Add new todo</a></b>
    &nbsp;
        <b><a asp-area="" asp-controller="todo" asp-action="completed">See completed todos</a></b>
    <br/>
    <br/>
    <br/>
</div>
@foreach (var todo in Model.TodoViewModels)
{
    <p>
        <b>@todo.Text</b> &nbsp; <font color="red">(za @todo.DaysToDeadline dana!)</font><br />
        @todo.DueDate.Value.ToString("dd/MMMM/yyyy")<br />
        <b><a asp-controller="todo" asp-action="MarkAsCompleted" , asp-route-itemId="@todo.Id">Mark As Completed</a></b><br />
    </p>
}


</body>

</html>