@model TodoIndexViewModel

@{
    ViewBag.Title = "Todo";
    Layout = "_Layout";
}
<html>
<body>
<div>
    <h1>Todo</h1>
    <a asp-area="" asp-controller="todo" asp-action="add">Add new todo</a>
    &nbsp;
    <a asp-area="" asp-controller="todo" asp-action="completed">See completed todos</a>
    <br/>
</div>
@foreach (var todo in Model.TodoViewModels)
{
    <p>
        <b>@todo.Text</b> &nbsp; (za @todo.DaysToDeadline dana!)<br />
        @todo.DueDate<br />
        <a asp-controller="todo" asp-action="MarkAsCompleted" , asp-route-itemId="@todo.Id">Mark As Completed</a><br />
    </p>
}


</body>

</html>